.container-fluid{
    background-image: url(../img/lumberheaderreduc.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    justify-content: space-between;
}

.collapse {
    display: flex;
    justify-content: flex-end;
    text-shadow: 0 0 15px #070707;
    list-style: none;
    margin: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.Logo {
    height: 150px;
    margin-top: 5px;
    margin-left: 5px;
}

.navbar-nav a:hover {
    color:rgb(40, 46, 40);
    text-shadow: 0 0 15px #0a0a0a;
}